body {
  background: rgb(32,27,103);
  background: linear-gradient(90deg, rgba(32,27,103,1) 0%, rgba(82,145,255,1) 73%, rgba(0,153,255,1) 100%);
  font-size: 1.2rem;
	font-family: sans-serif;
	text-align: center;
}

#submit,
button {
	height: 2rem;
  border-radius: 5px;
  border: 1px;
  font-size: 1.2rem;
	margin: 5px 15px;
}

.navigation {
	display: flex;
	justify-content: center;
}


a {
  text-decoration: none;
}

input {
  font-size: 1.2rem;
  height: 1.5rem;
  border-radius: 5px;
  border: 0px;
}

li {
	list-style: none;
}

#sku,
#price {
  width: 8rem;
}

#item {
  width: 25rem;
}

#sku-heading,
#price-heading {
	width: 14em;
}

#item-heading {
	width: 50em;
}

#item-table-container{
	background-color: lightgray;
	height: 60dvh;
	width: 97dvw;
	overflow: scroll;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

th {
	width: 400px;
}

td:hover {
	background-color: rgb(112, 175, 226);
}

td:active {
	background-color: rgb(14, 116, 172);
}

tbody tr:nth-child(even) {
	background-color: rgb(189, 214, 240);
}

tbody tr:nth-child(odd) {
	background-color: rgb(255, 255, 255);
}

#file-input {
	background-color: rgb(90, 97, 110);
	color: white;
}